.container {
    background-color: $white;
    border-radius: 3px;
    height: auto;
    margin: 30px auto;
    padding: 0 15px 18px 15px;
    width: 1110px;
    header {
        align-items: center;
        background-color:$bluegray;
        border-radius: 3px 3px 0 0;
        color: $white;
        display: flex;
        height: 65px;
        justify-content: space-between;
        margin: 0 -15px; 
        padding: 0 15px;
        width: 100%; 
        h2 {
            font-size: $size-xl;
            font-weight: 500;
            padding-left: 13px;
            span {
                font-weight: 700;
            }
        }  
        #add-new-employee {
            align-items: center;
            background-color: $lightgreen;
            border: none;
            border-radius: 2px;
            color: $white;
            cursor: pointer;
            display: flex;
            font-family: $font-family;
            margin-right: 15px;
            outline: none;
            padding: 6px 12px;
            &:hover {
                background-color: $darkgreen;
            }
            i {
                font-size: $size-l;
                padding-right: 5px;
            }
        } 
    }
    .input-filter {
        display: flex;
        justify-content: flex-end;
        margin: 27px 10px 0;
        #filter {
            background-color: $white;
            border: 1px solid $lightgray;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            color: $gray;
            font-family: $font-family;
            font-size: $size-s;
            height: 22px;
            padding: 5px 12px;
            width: 29%;
            &::placeholder {
                color: $lightmediumgray;
    
            }
            &:focus {
                border-color: $lightblue;
                box-shadow: 0 0 8px rgba(102,175,233,.6);
                outline: none;
            }
        }
    }
    .container-table {
        display: flex;
        margin: 20px auto;
        width: 98%;
        table {
            border-collapse: collapse;
            width: 100%;
            th {
                border-bottom: 2px solid #e9e9e9;
                color: $bluegrayspecial;
                font-size: $size-xs;
                padding: 10px 15px 15px 15px;
                text-align: left;
                vertical-align: middle;
                width: 22.7%;
                &:first-child {
                    width: 60px;
                }      
            }
            td {
                border-top: 2px solid #f1f1f1;
                color: $gray;
                font-size: $size-m;
                padding: 15px;
            }
        }
    }
}