// fonts
$font-family: 'Varela Round', sans-serif;
$size-xl: 24px;
$size-l: 20px;
$size-m: 15px;
$size-s: 14px;
$size-xs: 13px;

// colors 
$gray: #555;
$white: #ffffff;
$bluegray: #435d7d;
$lightgreen: #5cb85c;
$darkgreen: #449d44;
$lightgray: #ccc;
$lightmediumgray: #a5a5a5;
$lightblue: #66afe9;
$bluegrayspecial: #566787;
